.conteiner-header{
    width: 80%;
    margin: 0 auto;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: end;
    min-width: 45px;
}

input::placeholder {
    color: var(--light-gray-2-rgba);
    padding-left: 10px;
    font-size: 14px;
    font-style: italic;
}

.search #icon-search {
    width: 20px;
    right: 15px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    cursor: pointer;
}

.search button { 
    width: 200px;
    height: 40px;
    min-width: 100px;
    background-color: var(--primary);
    color: var(--light-gray-3);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#userFoto{
    width: 40px;
}

.carrinho {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.carrinho img{
    width: 30px;
}

.carrinho span {
    width: 11px;
    height: 12px;
    right: -5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 50%;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--primary);
}

.navegacao {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.navegacao ul {
    gap: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: start;
}

.navegacao ul li a.active{
    color: var(--dark-gray);
}
#userLogin{
    display: flex;
    gap: 10px;
}

#user-inf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px;
}

#user-inf p{
   margin: -5px;
}