:root {
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;

  --primary-rgba: rgba(201, 32, 113, 1);
  --secondary-rgba: rgba(181, 182, 242, 1);
  --Tertiary-rgba: rgba(153, 25, 86, 1);
  --error-rgba: rgba(238, 66, 102, 1);
  --success-rgba: rgba(82, 202, 118, 1);
  --green-limon: rgba(231, 255, 134, 1);
  --warning-rgba: rgba(246, 170, 28, 1);
  --primary-gradient: linear-gradient(90deg, rgba(201, 32, 113, 1) 0%, rgba(rgba(237, 171, 202, 1)) 100%);
  --secondary-gradient: linear-gradient(90deg, rgba(181, 182, 242, 1) 0%, rgba(239, 239, 255, 1) 100%);

  --dark-gray-rgba: rgba(31, 31, 31, 1);
  --dark-gray-2-rgba: rgba(71, 71, 71, 1);
  --light-gray-rgba: rgba(143, 143, 143, 1);
  --light-gray-2-rgba: rgba(0, 0, 0, 0.15);
  --light-gray-3-rgba: rgba(245, 245, 245, 1);
  --white-rgba: rgba(255, 255, 255, 1);
  --color-surface-light: rgba(216, 227, 242, 1);

  --font-family-padrao: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

body {
  min-height: 100vh;
  color: var(--dark-gray);
  background-color: var(--light-gray-3);
}


.container {
  padding-top: 20px;
  padding-left: 80px;
  max-width: 100hv;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--white);
}

.container .search{
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /*background-color: var(--light-gray);*/
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-gray);
  white-space: nowrap;
}

a:hover {
  color: var(--dark-gray);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
 
}

ul  li {
  margin-bottom: 1px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

hr{
  max-width: 1300px;       
  margin: 0 auto;     
  border: 0.5px solid white; 
}

.text-medium{
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  color: var(--dark-gray-2);
}

input {
    width: 100%;
    height: 40px;
    border-radius: 10px solid rgb(99, 98, 98);
    padding: 0;
    box-sizing: border-box;
}

input:hover {
    /*border-color: var(--light-gray); /* Cor quando hover */
    box-shadow: 0 0 0 2px rgba(136, 136, 136, 0.28);  /* Sombra sutil*/
  }
  
input:focus {
  outline: none;
  border-color: var(--light-gray);
  /*box-shadow: 0 0 0 3px rgba(237, 6, 198, 0.28);*/
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-field:hover {
  border-color: var(--primary);
}

.input-field:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(235, 4, 123, 0.1);
}
.queima img{
  display: block;
  position: relative;
  right: 60px;
  top: 20px;
  width: 100px;
  height: 60px;
}