:root {
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;

  --primary-rgba: rgba(201, 32, 113, 1);
  --secondary-rgba: rgba(181, 182, 242, 1);
  --Tertiary-rgba: rgba(153, 25, 86, 1);
  --error-rgba: rgba(238, 66, 102, 1);
  --success-rgba: rgba(82, 202, 118, 1);
  --green-limon: rgba(231, 255, 134, 1);
  --warning-rgba: rgba(246, 170, 28, 1);
  --primary-gradient: linear-gradient(90deg, rgba(201, 32, 113, 1) 0%, rgba(rgba(237, 171, 202, 1)) 100%);
  --secondary-gradient: linear-gradient(90deg, rgba(181, 182, 242, 1) 0%, rgba(239, 239, 255, 1) 100%);

  --dark-gray-rgba: rgba(31, 31, 31, 1);
  --dark-gray-2-rgba: rgba(71, 71, 71, 1);
  --light-gray-rgba: rgba(143, 143, 143, 1);
  --light-gray-2-rgba: rgba(0, 0, 0, 0.15);
  --light-gray-3-rgba: rgba(245, 245, 245, 1);
  --white-rgba: rgba(255, 255, 255, 1);
  --font-family-padrao: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--dark-gray);
  background-color: var(--light-gray-3);
  font-family: 'Poppins', sans-serif;
}

.container {
  padding-top: 20px;
  padding-left: 40px;
  max-width: 100hv;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--white);
}


.primary{
  margin-top: 10px;
  width: 220px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--primary-rgba);
  color: var(--light-gray-3);
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-gray);
  white-space: nowrap;
}

a:hover {
  color: var(--dark-gray);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
 
}

ul  li {
  margin-bottom: 1px;
}

p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

hr{
  max-width: 1300px;       
  margin: 0 auto;     
  border: 0.5px solid white; 
}

.text-medium{
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 400px;
  line-height: 24px;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  color: var(--dark-gray-2);
}

input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    box-sizing: border-box;
    border-color: var(--light-gray); 
    /* position: relative; */
    /* background-color: blue; */
}

input:hover {
    border-color: var(--light-gray); /* Cor quando hover */
    box-shadow: 0 0 0 2px rgba(36, 30, 35, 0.28); /* Sombra sutil */
  }
  
input:focus {
  outline: none;
  border-color: var(--light-gray);
  box-shadow: 0 0 0 3px rgba(36, 30, 35, 0.28);
}